:root {
    --primary-color: #8e1420;
    --dark-color: #333333;
    --light-color: #f4f4f4;

}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body {
     font-family: 'Roboto', sans-serif;
     font-size: 1rem;
     line-height: 1.5rem;
     background: #fff;
     color: #333;
 }
 a {
     color: var(--primary-color);
     text-decoration: none;
     &:hover {
         color: #666;
     }
 }
 ul {
     list-style: none;
 }

 input {
     display: block;
     width: 100%;
     padding: .4rem;
     font-size: 1.2rem;
     border: 1px solid #ccc;
     outline: none;
     margin-bottom: 0.5rem;
 }
 .container {
     max-width: 1100px;
     margin: auto;
     overflow: hidden;
     padding: 0 2rem;
 }
 header {
     padding: 1rem 2rem;
 }

 table th {
    background: var(--light-color);
 }

 .btn {
     display: inline-block;
     background: var(red);
     color: #333;
     padding: 0.4rem 1.3rem;
     font-size: 1rem;
     border: none;
     cursor: pointer;
     margin-right: .5rem;
     transition: opacity .2s;
     outline: none;
     &:disabled {
         background: var(--dark-color);
         color: #fff;
         cursor: not-allowed;
     }
     &:hover:not(:disabled) {
         opacity: .8;
     }
 }
 .btn-block {
     display: block;
     width: 100%;
 }
 .btn-primary {
     background: var(--primary-color);
     color: #fff;
 }
 .text-center {
     text-align: center;
 }
